@{
    ViewBag.Title = "CV Builder";
}

    <div class="vertical-center">
        <div class="col-lg-4 col-md-4 text-center"></div>

        <div class="col-lg-4 col-md-4 text-center">
            <h1 class="text-center">Build your CV online!</h1>
            <div class="text-center">
                <a href="@Url.Action("Editor", "Builder")" class="btn btn-primary btn-xl">Start</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 text-center"></div>
        
    </div>