
@{
    ViewBag.Title = "Contact information";
}
<div class="row" id="cveditor">
    <div class="col-lg-2 col-md-3 col-sm-3" id="sections">
        <ul>
            <li><a href="#" class="btn btn-default">Link 1</a></li>
            <li><a href="#" class="btn btn-default">Link 2</a></li>
            <li><a href="#" class="btn btn-default">Link 3</a></li>
            <li><a href="#" class="btn btn-default">Link 4</a></li>
            <li><a href="#" class="btn btn-default">Link 5</a></li>
            <li><a href="#" class="btn btn-default">Link 6</a></li>
        </ul>
        
    </div>
    <div class="col-lg-9 col-md-8 col-sm-8" id="section">
        <h3>Link 1</h3>
        <form action="/Save" method="post">
            <div class="form-group">
                <label class="custom-control-label">Full name</label>
                <input class="form-control" type="text" name="fullName" placeholder="your full name">
            </div>
            <div class="form-group">
                <label class="custom-control-label">Full name</label>
                <input class="form-control" type="text" name="fullName" placeholder="your full name">
            </div>
            <div class="form-group">
                <label class="custom-control-label">Full name</label>
                <input class="form-control" type="text" name="fullName" placeholder="your full name">
            </div>
            <div class="form-group">
                <label class="custom-control-label">Full name</label>
                <input class="form-control" type="text" name="fullName" placeholder="your full name">
            </div>
            <div class="form-group">
                <label class="custom-control-label">Full name</label>
                <input class="form-control" type="text" name="fullName" placeholder="your full name">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>